.container {
	width: 100%;
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	max-width: 80rem;
	margin: 0 auto;
	padding: 6rem 1rem 0 1rem;
}

.inputContainer {
	width: 100%;
	max-width: 50rem;
	margin: 0.5rem 0;
}

.buttonsContainer {
	width: 100%;
	max-width: 50rem;
	margin: 0.5rem 0;
}

.buttonsContainer button {
	width: 100%;
}

.title {
	padding: 1rem 0;
	font-size: 2rem;
	transition: all 0.2s;
}

.contactLink:not(:hover, :focus, :active) {
	color: inherit;
}

.textContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 2rem;
}
