.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	position: relative;
	overflow: hidden;
	cursor: default;
	background-color: var(--light_blue_100);
	color: var(--white);
	border: 0;
	outline: 0;
	font-size: 0.875rem;
	min-width: 4rem;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	font-weight: 500;
	line-height: 1.75;
	border-radius: 4px;
	text-transform: uppercase;
	cursor: pointer;
}

.button.small {
	padding: 0.375rem 0.5rem;
}

.button.large {
	padding: 0.375rem 2rem;
}

.button:has(.icon) {
	padding-left: 3rem;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 2.5rem;
	transition: background 0.2s ease-in-out;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 37% 100%;
	background: var(--green_100);
}

.button:hover {
	background-color: var(--dark_blue_900);
}

.disabled {
	filter: grayscale(1);
	cursor: not-allowed;
}

.disabled .btnText {
	opacity: 0.5;
}

.disabled.button:hover {
	background-color: var(--light_blue_100);
}
