:root {
	--dark_blue_100: #16192e;
	--dark_blue_200: #090d1c;
	--dark_blue_900: #0668c9;
	--dark_blue_100_transparent_90: rgba(22, 25, 46, 0.1);
	--light_blue_100_transparent_30: rgba(0, 155, 206, 0.3);
	--light_blue_100_transparent_10: rgba(0, 155, 206, 0.1);
	--light_blue_100: #009bce;
	--light_blue_200: #4fafe8;

	--light_purple_100: #545c91;
	--white: #ffffff;
	--almost_white: #d6d8de;

	--green_100: #43a047;
	--red_100: #d32f2f;

	--zIndex_behind_2: -2;
	--zIndex_behind_1: -1;
	--zIndex_default: 0;
	--zIndex_1: 1;
	--zIndex_header: 10;
	--zIndex_loader: 20;
}

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	font-family: "Inter", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	background: var(--dark_blue_100);
	color: var(--almost_white);
}

a {
	color: var(--light_blue_200);
	text-decoration: none;
}

a:focus {
	outline: none;
	box-shadow: 0 0 0 2px var(--light_blue_100);
}

.link:hover,
.link:focus,
.link:active {
	color: var(--light_blue_100);
}

p {
	margin: 0;
	font-size: 1rem;
	line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
