---
type Props = {
	text: string;
};

const {text} = Astro.props;
---

<div class="tag">{text}</div>

<style>
	.tag {
		display: flex;
		justify-content: center;
		align-items: center;
		width: max-content;
		padding: 0.25rem 0.75rem;
		border-radius: 1rem;
		line-height: 1.25rem;
		background: var(--light_blue_100_transparent_30);
		color: var(--light_blue_200);
		font-size: 0.75rem;
	}
</style>
